DATABASE_URL=postgresql://user:password@host:5432/database
DATABASE_SSL=disable
DATABASE_POOL_SIZE=5
FIREBASE_PROJECT_ID=tmggal
PRIMARY_ADMIN_EMAIL=966501424219@admin.sami.local
JUNIOR_ADMIN_EMAIL=966555967209@admin.sami.local
MSEGAT_USERNAME=
MSEGAT_API_KEY=
MSEGAT_SENDER_NAME=
ADMIN_NOTIFICATION_PHONE=
JUNIOR_ADMIN_NOTIFICATION_PHONE=
ADMIN_PANEL_URL=https://www.samialzamzami.com/admin.html
LEGACY_BRIDGE_SECRET=
